[submodule "haskell-mode"]
    path = emacs.d.symlink/site-lisp/haskell-mode
    url = git://github.com/haskell/haskell-mode.git

[submodule "emacs-helm"]
    path = emacs.d.symlink/site-lisp/helm
    url = https://github.com/emacs-helm/helm.git

[submodule "json-mode"]
    path = emacs.d.symlink/site-lisp/json-mode
    url = https://github.com/joshwnj/json-mode.git

[submodule "markdown-mode"]
    path = emacs.d.symlink/site-lisp/markdown-mode
    url = git://jblevins.org/git/markdown-mode.git

[submodule "yaml-mode"]
    path = emacs.d.symlink/site-lisp/yaml-mode
    url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d.symlink/site-lisp/emacs-powerline"]
	path = emacs.d.symlink/site-lisp/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule "emacs.d.symlink/emacs-color-theme-solarized"]
	path = emacs.d.symlink/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs.d.symlink/site-lisp/find-things-fast"]
	path = emacs.d.symlink/site-lisp/find-things-fast
	url = git@github.com:zsol/find-things-fast
