*.elc
build-stamp
configure-stamp
*~
.DS_Store
emacs.d.symlink/semanticdb
emacs.d.symlink/places
emacs.d.symlink/recentf
emacs.d.symlink/savehist
emacs.d.symlink/helm-c-adaptive-history
emacs.d.symlink/url
emacs.d.symlink/tramp
emacs.d.symlink/elpa/archives
